
@{
    ViewBag.Title = "Index";
}

<h2>Files</h2>

@if (Model.IsListEmpty())
{
<div class="center-block" style="align-content:center;">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/84b5c155264735.597d9ddcb39d8.jpg" style="width:500px; align-items:center;
" alt="empty" />
    <p>This class has no Files</p>

</div>

}
else
{   
    foreach (var item in Model.files)
    {
        <div class="col-sm-4">
            <div class="card" style=" padding: 2px 26px 8px;margin-bottom:6px;margin-top:6px;  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                @*<img class="card-img-top" src="..." alt="Card image cap">*@
                <h5 class="card-title"> <i class="glyphicon glyphicon-folder-open" style="color:orange;"></i> @item.FileName</h5>

                <div class="card-body">
                    <p class="card-text"><span>CreatedBy</span>@item.CreatedBy</p>
                    <p class="card-text"><span>CreatedOn</span>@item.CreatedOn</p>

                </div>
            </div>

        </div>
    }
}

